@import '../../apps/keep/css/keep-main.css';
@import '../../apps/email/css/email-main.css';
@import '../../apps/books/css/book.css';


body, html {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1rem;
}

h1 {
    font-family: 'Open Sans' sans-serif;
    color: #5e17eb;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-family: 'Open Sans' sans-serif;
    color: #5e17eb;
    font-weight: bold;
    font-size: 2rem;;
    text-align: center;
    }

/* Helpers */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.grid {
    display: grid;
}


.unicorn {
    /* width: 360px; */
    /* height: 380px; */
    width: 20rem;
    height: 20rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



/* Navigation */

nav {
    /* background-image: url('../../img/svglogo.svg'); */
    color: #5e17eb;
    font-size: 1.5rem;
    box-shadow: 0px 0.2px 20px grey;
    background-repeat: no-repeat;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    height: 80px;
}

.unlogo {
    font-weight: 900;
    font-size: larger;
}

@media (max-width:620px) {
    .unlogo {
        font-size: 1.5rem;
    }
}

.logo-slash {
color: orangered;
}

.nav-links {
    display: flex;
    list-style: none;
}

@media (max-width:620px) {
    .nav-links {
        font-size: 1rem;
        font-weight: bold;
        padding-top: 5px;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        display: block;
    }
}

.nav-bar a {
    color: #5e17eb;
    margin: 20px;
    text-decoration: none;
    align-items: center;
}